# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SLAM\SLAM_compass\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
